<ion-content scroll="false">
    <div class="splash-bg"></div>
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">
        {{ 'LOGIN' | translate }}
      </div>
    </div>
    <div padding class="login-buttons">
      <button ion-button block (click)="googleLogin()" class="login-google"></button>
      <!-- <button ion-button block (click)="signin('facebook')" class="login-fb"></button> -->
    </div>
</ion-content>
