page-login {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.svg') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }

  div.login-buttons {
    display: inline-flex;
    margin-top: 10%;
    width: 100%;

    & button {
      margin: 0 auto;
    }
  }

  button.login-google,
  button.login-fb {
    background-size: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 70px;
    height: 70px;
  }

  button.login-google {
    background: url('../assets/img/google.svg') no-repeat transparent;
  }

  button.login-fb {
    background: url('../assets/img/facebook.svg') no-repeat transparent;
  }
}
