<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">{{ 'CLOSE' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <h1>{{ faq.question }}</h1>
  <p>{{ faq.answer }}</p>
</ion-content>