<ion-tabs selectedIndex="1">
  <ion-tab [root]="tabAccount" [tabTitle]="account" tabIcon="person"></ion-tab>
  <ion-tab [root]="tabHome" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabInfo" tabTitle="Info" tabIcon="information-circle"></ion-tab>
</ion-tabs>
