<ion-header>
  <ion-navbar>
    <ion-title>
      FAQ's
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <a ion-item *ngFor="let faq of faqs" (click)="openModal({question: faq})">
       <ion-icon [name]="faq.icon"></ion-icon>
      {{ faq.question }}
    </a>
  </ion-list>
</ion-content>
