page-home {
  * {
    margin: 0;
    padding: 0;
  }

  .empty-state {
    color: $silver-chalice;
    margin: 8% 0 20% 0;
    text-align: center;

    & .let {
      font-size: 12rem;
    }

    & .start {
      font-size: 5rem;
    }
  }

  .upload-link {
    color: $silver-chalice;
    text-decoration: none;
    font-size: 1.5rem;
  }

  button.share,
  button.upload-cv {
    background-size: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 70px;
    height: 70px;
  }

  button.share {
    background: url('../assets/img/share.svg') no-repeat transparent;
    margin-top: 30%;
    width: 60px;
    height: 60px;
  }

  button.upload-cv {
    background: url('../assets/img/up-arrow.svg') no-repeat transparent;
  }

  & .center {
    display: flex;
    justify-content: center;
  }
}
