<ion-header>
  <ion-navbar *ngIf="user">
    <ion-title>{{ 'WELCOME' | translate }} {{ user.displayName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="showPage then mainPage"></div>
  <ng-template #mainPage>
    <div *ngIf="userHasUploadedCV;then qrCode_content else upload_content"></div>
    <ng-template #upload_content>
      <ion-grid *ngIf="!userHasUploadedCV">
        <ion-row justify-content-center>
          <ion-col align-self-center col-10>
            <div class="empty-state">
              <p class="let">{{ 'LET' | translate }}</p>
              <p class="start">{{ 'START' | translate }}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col class="text-align-end center-items" col-3>
            <button (click)="uploadCv()" class="upload-cv"></button>
            <a class="upload-link">{{ 'UPLOAD-CV' | translate }}</a>
            <span *ngIf="uploadPercent > 0"><ion-spinner></ion-spinner></span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template #qrCode_content>
      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col class="text-align-end center-items" align-self-center col-10>
            <ngx-qrcode id="qrcv" qrc-element-type="img" [qrc-value]="uploadedFile.shortURL" qrc-class="aclass"
              qrc-errorCorrectionLevel="L" qrc-version="6">
            </ngx-qrcode>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center col-10>
            <div class="empty-state">
              <p class="start">{{ 'SHARE-IT' | translate }}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="empty-state" *ngIf="uploadPercent > 0">
              <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab right bottom #fabMore>
        <button ion-fab color="sapphire">
          <ion-icon name="more"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="sapphire" (click)="closeFab(fabMore)">
            <ion-icon name="close"></ion-icon>
          </button>
          <button ion-fab color="dodger-blue" (click)="share(fabMore)">
            <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
          </button>
          <button ion-fab color="dodger-blue" (click)="reUploadCv(fabMore)">
            <ion-icon ios="ios-cloud-upload-outline" md="md-cloud-upload"></ion-icon>
          </button>
          <button ion-fab color="dodger-blue" (click)="dropCV(fabMore)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-fab color="dodger-blue" (click)="downloadQR(fabMore)" *ngIf="isIos">
            <ion-icon ios="ios-download-outline" md="md-download"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    </ng-template>
  </ng-template>
</ion-content>
