page-account {
  & .center-items {
    text-align: center;
  }

  & .circle-avatar {
    border-radius: 150px;
    max-width: 200px;
    width: 100%;
  }

  & .left-margin {
    margin-left: 2%;
  }
}
