<ion-header>
  <ion-navbar>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col class="center-items">
        <ion-avatar item-start>
          <img class="circle-avatar" [src]="user.photoURL">
        </ion-avatar>
        <h2>{{ user.displayName }}</h2>
        <p>{{ user.email }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full outline (click)="signOut()">{{ 'LOGOUT' | translate}}</button>
  <!-- <button ion-button full> TODO: Implement when app be ready for prod.
    <ion-icon name="share"></ion-icon>
    <p class="left-margin">{{ 'SHARE-APP' | translate }}</p>
  </button> -->
</ion-content>
