page-land {
  img {
    max-width: none !important;
  }
  
  .white-background {
    background-color: #fff;

    h2, button {
      font-size: 4rem;
    }
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide {
    position: relative;
    top: -10%;
  }

  .slide h2,
  .slide p {
    position: absolute;
  }

  .slide p {
    bottom: -11%;
    font-size: 3rem;
    color: #525252;
    display: contents;
  }

  .slide h2 {
    font-family: 'Courgette', cursive;
    top: 10%;
    left: 4px;
    padding: 10px;
    border-radius: 5px;
    font-size: 4rem;
    background: rgba(255, 255, 255,0.8);
  }

  .slide img {
    height: 100vh;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  @media screen and (min-width: 768px){
    .slide img {
      height: 100vh !important;
    }

    .slide {
      position: relative;
      top: -10%;
    }
  }
}
