<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)" *ngIf="showSlides">
    <ion-slide *ngFor="let slide of slides" class="slide">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide class="white-background">
        <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
        <h2 class="slide-title">{{ 'READY-TO-START' | translate }}</h2>
        <button ion-button icon-end large clear (click)="startApp()">
          {{ 'CONTINUE' | translate }}
        </button>
    </ion-slide>
  </ion-slides>
</ion-content>
